<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: base-head('User list')}"></head>
<body>
<div class="image-background"></div>
<div class="menu-container">
    <div th:replace="~{nav :: menu}"></div>
    <div class="screen">
        <div class="container-th">
            <div class="ui">
                <p class="breadcrumb">users / all</p>
                <button class="button-menu" onclick="showNav()">
                    <i class="align justify icon"></i>
                </button>
                <h2>List of all users</h2>
                <hr/>
                <button class="btn-new mt-3 button-submit" onclick="navigate('users/new')">Create a new user</button>
                <div class="welcome-card" th:if="${users.size() == 0}" >
                    <div class="w-100 t-center mtn-300">
                        <div class="t-center">
                            <img class="vector-home" th:src="@{/img/empty.svg}">
                        </div>
                        <h2>Nothing to see here :(</h2>
                        <p>There are no exams registered in the system.</p>
                    </div>
                </div>
                <div class="d-flex ui cards mt-3">
                    <div class="user-card ui card" th:each="user : ${users}">
                        <button class="button-edit" th:onclick="navigate('users/' + [[${user.id}]])">
                            <i class="edit icon"></i>
                        </button>

                        <label class="strong">Nome:</label>
                        <p th:text="${user.name}"></p>

                        <label class="strong">Email:</label>
                        <p th:text="${user.email}"></p>

                        <label class="strong">Phone:</label>
                        <p th:text="${user.phone}"></p>

                        <label class="strong">School:</label>
                        <p th:text="${user.school}"></p>

                        <label class="strong">User type:</label>
                        <div th:switch="${user.userType}">
                            <p th:case="1">Student</p>
                            <p th:case="2">Teacher</p>
                        </div>

                        <div class="div-btn">
                            <button class="ui button btn-remove" th:onclick="removeData([[${user.id}]], 'users')">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="~{base :: base-script}"></script>
</body>
</html>
