<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: base-head('User list')}"></head>
<body>
<div class="image-background"></div>
<div class="menu-container">
    <div th:replace="~{nav :: menu}"></div>
    <div class="screen">
        <div class="container-th">
            <div class="ui">
                <p class="breadcrumb">users / all</p>
                <h2>List of all users</h2>
                <hr/>
                <button class="btn-new mt-3 button-submit" onclick="navigate('users/new')">Create a new user</button>
                <div class="d-flex ui cards mt-3">
                    <div class="user-card ui card" th:each="user : ${users}">
                        <label class="strong">Nome:</label>
                        <p th:text="${user.name}"></p>

                        <label class="strong">Email:</label>
                        <p th:text="${user.email}"></p>

                        <label class="strong">Phone:</label>
                        <p th:text="${user.phone}"></p>

                        <label class="strong">School:</label>
                        <p th:text="${user.school}"></p>

                        <label class="strong">User type:</label>
                        <div th:switch="${user.userType}">
                            <p th:case="1">Student</p>
                            <p th:case="2">Teacher</p>
                        </div>

                        <div class="div-btn">
                            <button class="ui button btn-remove" th:onclick="removeUser([[${user.id}]])">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="~{base :: base-script}"></script>
</body>
</html>
