<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: base-head('Create new user')}"></head>
<body>
<div class="image-background"></div>
<div class="menu-container">
    <div th:replace="~{nav :: menu}"></div>
    <div class="screen">
        <div class="container-th">
            <div class="ui">
                <p class="breadcrumb">users / new</p>
                <form class="ui form" method="post" onsubmit="submitForm(event, 'users')">
                    <h2>Create new user</h2>
                    <hr/>

                    <div class="field">
                        <label>Name</label>
                        <input class="ui input" name="name" type="text" placeholder="Adam Sandler" required>
                    </div>

                    <div class="field">
                        <label>Email</label>
                        <input class="ui input" name="email" type="email" placeholder="adamsandler@gmail.com" required>
                    </div>

                    <div class="field">
                        <label>Phone number</label>
                        <input class="ui input" name="phone" type="number" placeholder="(00) 0 0000-0000" required>
                    </div>

                    <div class="field">
                        <label>School</label>
                        <input class="ui input" name="school" type="text" placeholder="Federal Anstitute of Alagoas"
                               required>
                    </div>

                    <div class="field">
                        <label>User type:</label>
                        <select name="userType">
                            <option value="1">Student</option>
                            <option value="2">Teacher</option>
                        </select>
                    </div>

                    <button class="ui button button-reset" type="button" onclick="navigate('users')">Return</button>
                    <button class="ui button button-submit" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:replace="~{base :: base-script}"></script>
</body>
</html>
