<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: base-head('User list')}"></head>
<body>
<div class="image-background"></div>
<div class="menu-container">
    <div th:replace="~{nav :: menu}"></div>
    <div class="screen">
        <div class="container-th">
            <div class="ui">
                <p class="breadcrumb">questions / all</p>
                <button class="button-menu" onclick="showNav()">
                    <i class="align justify icon"></i>
                </button>
                <h2>List of all questions</h2>
                <hr/>
                <button class="btn-new mt-3 button-submit" onclick="navigate('questions/new')">Create a new question
                </button>
                <div class="d-flex ui cards mt-3">
                    <div class="user-card ui card" th:each="question : ${questions}">
                        <button class="button-edit" th:onclick="navigate('questions/' + [[${question.id}]])">
                            <i class="edit icon"></i>
                        </button>

                        <label class="strong">Question:</label>
                        <p th:text="${question.name}"></p>

                        <label class="strong">Difficulty:</label>
                        <p th:text="${question.difficulty}"></p>

                        <label class="strong">Answer type:</label>
                        <div th:switch="${question.answerType}">
                            <p th:case="1">Open-ended</p>
                            <p th:case="2">Single choice</p>
                            <p th:case="3">Multiple choice</p>
                            <p th:case="4">True or False</p>
                        </div>

                        <label class="strong mt-3">Tags:</label>
                        <div class="ui knowie labels mt-2">
                            <a class="ui label" th:each="tag : ${question.tags}">
                                <span class="tag-list-show" th:text="${tag}"></span>
                            </a>
                        </div>

                        <div class="div-btn">
                            <button class="ui button btn-remove" th:onclick="removeData([[${question.id}]], 'questions')">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="~{base :: base-script}"></script>
</body>
</html>
