<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: base-head('Exam list')}"></head>
<body>
<div class="image-background"></div>
<div class="menu-container">
  <div th:replace="~{nav :: menu}"></div>
  <div class="screen">
    <div class="container-th">
      <div class="ui">
        <p class="breadcrumb">exams / all</p>
        <button class="button-menu" onclick="showNav()">
          <i class="align justify icon"></i>
        </button>
        <h2>List of all exams</h2>
        <div class="welcome-card" th:if="${exams.size() == 0}" >
          <div class="w-100 t-center mtn-300">
            <div class="t-center">
              <img class="vector-home" th:src="@{/img/empty.svg}">
            </div>
            <h2>Nothing to see here :(</h2>
            <p>There are no exams registered in the system.</p>
            <button th:if="${session.user.userType == 2 || session.user.userType == 3}" class="btn-new mt-3" onclick="navigate('exams/new')">Register a new exam</button>
          </div>
        </div>
        <table class="ui compact celled definition table"  th:if="${exams.size() > 0 && (session.user.userType == 2 || session.user.userType == 3)}">
          <thead class="full-width">
          <tr>
            <th></th>
            <th>Title</th>
            <th>Start date and time</th>
            <th>End date and time</th>
            <th>Duration</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="exam : ${exams}">
            <td class="collapsing">
              <div class="ui fitted slider checkbox t-center">
                <button class="button-check" th:onclick="navigate('exams/' + [[${exam.id}]])">
                  <i class="eye icon"></i>
                </button>

                <button class="button-check" th:onclick="removeData([[${exam.id}]], 'exams')">
                  <i class="trash icon"></i>
                </button>
              </div>
            </td>
            <td th:text="${exam.title}"></td>
            <td th:text="${exam.startDateTime}"></td>
            <td th:text="${exam.endDateTime}"></td>
            <td th:text="${exam.duration}"></td>
          </tr>
          </tbody>
          <tfoot class="full-width">
          <tr>
            <th></th>
            <th colspan="4">
              <div class="ui teal right floated labeled icon button btn-ipt-add" onclick="navigate('exams/new')">
                <i class="clipboard icon"></i> Create new Exam
              </div>
            </th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<script th:replace="~{base :: base-script}"></script>
</body>
</html>
