<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: base-head('Home')}"></head>
<body>
<div class="image-background"></div>
<div class="menu-container">
    <div th:replace="~{nav :: menu}"></div>
    <div class="screen">
        <div class="container-th">
            <div class="ui">
                <p class="breadcrumb">Home</p>
                <button class="button-menu" onclick="showNav()">
                    <i class="align justify icon"></i>
                </button>
                <div class="welcome-card">
                    <div class="w-100 t-center">
                        <div class="t-center">
                            <img class="vector-home" th:src="@{/img/vector-home.svg}">
                        </div>
                        <h2>Welcome to Knowie!</h2>
                        <p>Knowie is an online platform which allows professors to <br>
                            conveniently create, share, administer, and evaluate exams.</p>
                        <button th:if="${session.user.userType == 2 || session.user.userType == 3}" class="btn-new mt-3" onclick="navigate('exams/new')">Register a new exam</button>
                        <button th:if="${session.user.userType == 1}" class="btn-new mt-3" onclick="navigate('exams')">Check your exams</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="~{base :: base-script}"></script>
</body>
</html>
