<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: base-head('Login')}"></head>
<body>
<div class="image-background"></div>
<div class="menu-container">
    <div class="screen">
        <div class="container-th">
            <div class="ui">
                <p>login page</p>
                <button type="button" onclick="navigate('make-login-develop-test')">Make login</button>
            </div>
        </div>
    </div>
</div>
<script th:replace="~{base :: base-script}"></script>
</body>
</html>